<header>
    <img src="../materials/logo.jpg" class="logo">
    <div class="menu">
        <a href="#">Поддержка</a>
        <div class="submenu">
            <a href="#">Связаться с нами</a>
            <a href="#">Руководство</a>
        </div>
    </div>
    <div class="header-dropdown">
        <div class="dropdown-content-header">
            <a href="../lk.php" name="main" id="main">Личный кабинет</a>
            <a href="../pets.php" name="my-anim" id="my-anim">Мои животные</a>
            <a href="../pet.php" name="add-anim" id="add-anim">Добавить животное</a>
        </div>
        <button class="dropdown-button-header">
            <img src="../materials/menu.png" alt="Кнопка" class="img">
        </button>
    </div>
</header>
